.pagestack-hide {
    display: none;
}

.pagestack-show {
    display: block;
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: pagestack-fade-in;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: pagestack-fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: pagestack-fade-in;
}

@keyframes pagestack-fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
